

<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>403 - 表白墙</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link rel="stylesheet" href="/res/layui/css/layui.css">
  <link rel="stylesheet" href="/res/css/global.css">
</head>
<body>

<div class="fly-header layui-bg-black">
  <div class="layui-container">
    <a class="fly-logo" href="/">
      <img src="/res/images/logo.png" alt="layui"  height="50">
    </a>

  </div>
</div>

<div class="layui-container fly-marginTop">
	<div class="fly-panel">
	  <div class="fly-none">
	    <h2><i class="iconfont icon-tishilian"></i></h2>
      <p>抱歉，您没有权限访问403</p>
	  </div>
	</div>
</div>

<div class="fly-footer">
    <p><span>Copyright &copy; 2020-2020 </span><a href="" target="_blank"> 青科表白墙 </a> Powered by <a href="" target="_blank"> EG </a></p>
</div>

</body>
</html>